

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    min-width: 800px;
}

.form-container h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
}

.form-container select,
.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 14px;
}

.form-container button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form-container button:hover {
    background-color: #e55b40;
    box-shadow: var(--hover-shadow);
}